body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:#24252a;
}

.RandomWordContent{
    Color:white;
    font-family: sans-serif;
    position: relative;
}
.letter-block{
    padding-bottom:-10px;
}
.WordGuess{
    Color:white;
    font-family: sans-serif;
    position: relative;
}
.WordGuess:before{
    content:" ";
    display:block;
    width: 100px;
    height: 2px;
    background: white;
    position: absolute;
    left:-10px;
    top:50%
}
.WordGuess:after{
    content:"";
    display:block;
    width: 100px;
    height: 2px;
    background: white;
    position: absolute;
    right:-10px;
    top:50%
}

.box{
    width:500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background:#2c3e50;
    text-align: center;
    border-radius: 24px;
}
#GameTitle{
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family:"Montserrat"
}
.box input[type="text"]{
border:0;
background:none;
display: block;
margin:20px auto;
text-align: center;
border:2px solid #2c82c9;
padding:14px 10px;
width:370px;
outline:none;
color: white;
border-radius: 24px;
transition:0.25;
}
.box input[type="text"]:hover{
    width: 385px;
    border-color:#019875;
}
.box input[type="submit"]{
border:0;
background:none;
display: block;
margin:20px auto;
text-align: center;
border:2px solid #019875;
padding:14px 40px;
outline:none;
color: white;
border-radius: 24px;
transition:0.25;
cursor: pointer;
}

.box input[type="submit"]:hover{
    background:#019875;
}