{% extends  "baseTemplate.html" %}
{% block title %}Hang Man{% endblock %}
{% block PageConetent %}
<link rel="stylesheet" type="text/css" href="/static/CSS/homeCss.css">
<script type="text/javascript" src="\static\JS\home.js"></script>
<from class="box" action="home.html" method="post">
    <div id="GameTitle"></div>
    <br>
    <div class="HangmanPicture">
        <canvas ID="HangMan"></canvas>
    </div>
    <div class="RandomWordContent" link method="get">
        <br>
        <H2 id="randomWord">Word : _ _ _ _ </H2>
    </div>
    <br>
    <div class="letter-block">
        <h3 class="WordGuess">Guess the letter</h3>
        <br>
        <br>
    </div>
    <br>
    <div class="word-block">
        <h3 class="WordGuess">Guess the word</h3>
        <input id="InputWord" type="text" name="" Placeholder="Word">
    </div>
    <input type="submit" name="" value="Guess" onclick="guessRandomWord()">

</from>


{% endblock %}